#!/bin/bash
#$ -N {{ name }}
#$ -cwd
#$ -V
#$ -l h_rt={{ hours }}:{{ mins | default("00", true) }}:00
#$ -l m_mem_free={{ mem }}G
#$ -pe smp {{ cores }}{% if task_stop %}
#$ -t {{ task_start | default(1, true) }}-{{ task_stop }}:{{ task_step | default(1, true) }}
#$ -tc {{ task_concurrent }}{% endif %}
#$ -o {{ log_dir | default("./log", true) }}
#$ -e {{ log_dir | default("./log", true) }}
{% if cwd %}cd {{ cwd }}
{% endif %}{% for key, value in environ.items() %}export {{ key }}={{ value }}
{% endfor %}
{{ cmd }}
